<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.i52soft.lscable.cms.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/LogInMapper.xml"/>
        <mapper resource="mappers/HTBackendMapper.xml"/>
        <mapper resource="mappers/WidgetDataProvider.xml"/>
    </mappers>
</configuration>